.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.login__logo {
    background: url(../../assets/logo.png) center / contain no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 128px;
}

.login__modal {
    height: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: scale(0.99);
    transition: .225s var(--ease);
}

.login__modal:hover {
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.20);
    transform: none;
}

.login__modal > .subtitle {
    height: 32%;
    display: flex;
    align-items: center;
    margin: 0;
}

.login__modal > form {
    height: 48%;
    margin: 0;
}

.login__modal > form > input {
    width: 100%;
}

.login__modal > button {
    width: 100%;
    flex: auto;
    border: unset;
    border-top: 1px solid #EAEBF0;
    cursor: pointer;
}

.login__modal > button:hover {
    background: #fafafa;
}

.login__modal > button:active {
    background: #f5f5f5;
    font-size: 13px;
}

.login__modal > button:focus {
    outline: none;
}